# Site Configuration
PUBLIC_SITE_URL=https://magi.website
PUBLIC_SITE_NAME=MAGI
PUBLIC_CONTACT_EMAIL=hi@magi.website
PUBLIC_GITHUB_URL=https://github.com/tokyo3rdhq

# Google Analytics
PUBLIC_GA_ID=G-7HQZYDPC19
